server {
    listen 80;
    server_name bbs.u14e.xyz;
    location / {
        # redirect any requests to the same URL but on https
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    # 启用ssl
    ssl on;
    
    server_name    bbs.u14e.xyz;

    # 证书和私钥的地址  
    ssl_certificate /var/www/u-bbs/u14exyz/full_chain.pem; 
    ssl_certificate_key /var/www/u-bbs/u14exyz/private.key;

    location /images {
        alias /var/www/u-bbs/app/images;
    }

    location /static {
        alias /var/www/u-bbs/app/static;
    }

    location / {
        proxy_pass http://127.0.0.1:5000;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme; # fix flask redirect生产环境 从https到http跳转
    }
}
