<!-- navbar -->
<div class='navbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <ul class='nav pull-right'>
        <li><a href='{{ url_for('topic.index') }}'>首页</a></li>
        {% if g.user %}
        <li><a href='/setting'>设置</a></li>   
        <li><a href='/message'>我的消息</a></li>
        <li><a href='/user'>{{ g.user.username }}</a></li>
        <li><a href='{{ url_for('user.logout') }}'>退出</a></li>        
        {% else %}
        <li><a href='{{ url_for('user.register') }}'>注册</a></li>
        <li><a href='{{ url_for('user.login') }}'>登录</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>